name: Update Docker Hub README

on:
  push:
    branches:
      - master  # Replace with your desired branch

jobs:
  update-dockerhub-readme:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Update Docker Hub README
      uses: docker/build-push-action@v2
      with:
        context: .
        tags: ${{ secrets.DOCKER_USERNAME }}/azure-scripter:latest
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    - name: Update Docker Hub Repository Description
      run: |
        REPO_NAME=${{ secrets.DOCKER_USERNAME }}/azure-scripter
        DOCKERHUB_TOKEN="${{ secrets.DOCKER_PASSWORD }}"
        NEW_README=$(cat README.md | jq -Rs .)
        curl -s -H "Authorization: Bearer $DOCKERHUB_TOKEN" -H "Content-Type: application/json" -X PATCH -d '{"full_description": "'"${NEW_README}"'"}' "https://hub.docker.com/v2/repositories/${REPO_NAME}/"
